/*  Foundation 3, artfully masterminded by ZURB Core forms.css - Regular, 'nice', and custom styles for common form elements.  Requires:  globals.css
*/
/* Colors */
/* ----------------------------------------- Standard Forms
----------------------------------------- */
/* line 17, ../scss/forms.scss */
form { margin: 0 0 18px; }

/* line 18, ../scss/forms.scss */
form label { display: block; font-size: 13px; line-height: 18px; cursor: pointer; margin-bottom: 9px; }

/* line 20, ../scss/forms.scss */
input.input-text, textarea { border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; width: 254px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; /* Text input and textarea sizes */ }
/* line 22, ../scss/forms.scss */
input.input-text[disabled], textarea[disabled] { background-color: #ddd; }
/* line 25, ../scss/forms.scss */
input.input-text.small, textarea.small { width: 134px; }
/* line 26, ../scss/forms.scss */
input.input-text.medium, textarea.medium { width: 254px; }
/* line 27, ../scss/forms.scss */
input.input-text.large, textarea.large { width: 434px; }
/* line 28, ../scss/forms.scss */
input.input-text.expand, textarea.expand { width: 100%; }

/* line 31, ../scss/forms.scss */
input.input-text, textarea, select { display: block; margin-bottom: 9px; }

/* line 32, ../scss/forms.scss */
label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown { margin-top: -9px; }

/* line 33, ../scss/forms.scss */
textarea { max-width: 100%; }

/* Text input and textarea font and padding */
/* line 36, ../scss/forms.scss */
input.input-text, textarea { font-size: 13px; padding: 4px 3px 2px; background: #fff; }
/* line 38, ../scss/forms.scss */
input.input-text:focus, textarea:focus { outline: none !important; background: #f9f9f9; }
/* line 39, ../scss/forms.scss */
input.input-text.oversize, textarea.oversize { font-size: 18px !important; padding: 4px 5px !important; }

/* Inlined Label Style */
/* line 43, ../scss/forms.scss */
input.placeholder, textarea.placeholder { color: #888; }

/* Lock textareas so they can't be resized beyond their set width in webkit */
/* line 46, ../scss/forms.scss */
textarea.locked { max-width: 254px; }
/* line 48, ../scss/forms.scss */
textarea.locked.small { max-width: 134px; }
/* line 49, ../scss/forms.scss */
textarea.locked.large { max-width: 434px; }
/* line 50, ../scss/forms.scss */
textarea.locked.expand { max-width: 100%; }

/* Fieldsets */
/* line 54, ../scss/forms.scss */
form fieldset { padding: 9px 9px 2px 9px; border: solid 1px #ddd; margin: 18px 0; }

/* Inlined Radio & Checkbox */
/* line 57, ../scss/forms.scss */
.form-field input[type=radio], div.form-field input[type=checkbox] { display: inline; width: auto; margin-bottom: 0; }

/* Errors */
/* line 60, ../scss/forms.scss */
.form-field.error input, input.input-text.alert { border-color: #e91c21; background-color: rgba(255, 0, 0, 0.15); }

/* line 61, ../scss/forms.scss */
.form-field.error label, label.alert { color: #e91c21; }

/* line 62, ../scss/forms.scss */
.form-field.error small, small.error { margin-top: -6px; display: block; margin-bottom: 9px; font-size: 11px; color: #e91c21; width: 254px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

/* line 64, ../scss/forms.scss */
.small + small.error { width: 134px; }

/* line 65, ../scss/forms.scss */
.medium + small.error { width: 254px; }

/* line 66, ../scss/forms.scss */
.large + small.error { width: 434px; }

/* line 67, ../scss/forms.scss */
.expand + small.error { width: 100%; }

/* line 69, ../scss/forms.scss */
.small.oversize + small.error { width: 144px; }

/* line 70, ../scss/forms.scss */
.medium.oversize + small.error { width: 264px; }

/* line 71, ../scss/forms.scss */
.large.oversize + small.error { width: 444px; }

/* line 72, ../scss/forms.scss */
.expand.oversize + small.error { width: 100%; }

/* ----------------------------------------- Nicer Forms
----------------------------------------- */
/* line 77, ../scss/forms.scss */
form.nice div.form-field input, form.nice input.input-text, form.nice textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; font-size: 13px; padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) white; }
/* line 79, ../scss/forms.scss */
form.nice div.form-field input:focus, form.nice input.input-text:focus, form.nice textarea:focus { background-color: #f9f9f9; }
/* line 80, ../scss/forms.scss */
form.nice div.form-field input[disabled], form.nice input.input-text[disabled], form.nice textarea[disabled] { background-color: #ddd; }

/* line 83, ../scss/forms.scss */
form.nice fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

/* line 85, ../scss/forms.scss */
form.nice div.form-field input[type=radio], form.nice div.form-field input[type=checkbox] { display: inline; width: auto; margin-bottom: 0; }

/* line 87, ../scss/forms.scss */
form.nice div.form-field.error small, form.nice small.error { padding: 6px 4px; border: solid 0 #e91c21; border-width: 0 1px 1px 1px; margin-top: -10px; background: #e91c21; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }

/* line 89, ../scss/forms.scss */
form.nice div.form-field.error .small + small, form.nice .small + small.error { width: 134px; }

/* line 90, ../scss/forms.scss */
form.nice div.form-field.error .medium + small, form.nice .medium + small.error { width: 254px; }

/* line 91, ../scss/forms.scss */
form.nice div.form-field.error .large + small, form.nice .large + small.error { width: 434px; }

/* line 93, ../scss/forms.scss */
form.nice div.form-field.error .small.oversize + small, form.nice .small.oversize + small.error { width: 138px; }

/* line 94, ../scss/forms.scss */
form.nice div.form-field.error .medium.oversize + small, form.nice .medium.oversize + small.error { width: 258px; }

/* line 95, ../scss/forms.scss */
form.nice div.form-field.error .large.oversize + small, form.nice .large.oversize + small.error { width: 438px; }

/* ----------------------------------------- Custom Forms
----------------------------------------- */
/* line 101, ../scss/forms.scss */
form.custom span.custom { display: inline-block; width: 14px; height: 14px; position: relative; top: 2px; border: solid 1px #ccc; background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat; }

/* line 102, ../scss/forms.scss */
form.custom span.custom.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }

/* line 103, ../scss/forms.scss */
form.custom span.custom.radio.checked { background-position: -1px -15px; }

/* line 104, ../scss/forms.scss */
form.custom span.custom.checkbox.checked { background-position: -1px -29px; }

/* line 106, ../scss/forms.scss */
form.custom div.custom.dropdown { display: block; position: relative; width: auto; height: 28px; margin-bottom: 9px; margin-top: 2px; }
/* line 108, ../scss/forms.scss */
form.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; min-height: 28px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; background-color: #fff; word-wrap: nowrap; }
/* line 109, ../scss/forms.scss */
form.custom div.custom.dropdown a.selector { position: absolute; width: 28px; height: 28px; display: block; background: url(../images/misc/custom-form-sprites.png) -14px 1px no-repeat; right: 0; top: 0; border: solid 1px #ddd; }
/* line 111, ../scss/forms.scss */
form.custom div.custom.dropdown.open ul { display: block; z-index: 10; }
/* line 113, ../scss/forms.scss */
form.custom div.custom.dropdown.small { width: 134px !important; }
/* line 114, ../scss/forms.scss */
form.custom div.custom.dropdown.medium { width: 254px !important; }
/* line 115, ../scss/forms.scss */
form.custom div.custom.dropdown.large { width: 434px !important; }
/* line 116, ../scss/forms.scss */
form.custom div.custom.dropdown.expand { width: 100% !important; }
/* line 118, ../scss/forms.scss */
form.custom div.custom.dropdown.open.small ul { width: 134px !important; }
/* line 119, ../scss/forms.scss */
form.custom div.custom.dropdown.open.medium ul { width: 254px !important; }
/* line 120, ../scss/forms.scss */
form.custom div.custom.dropdown.open.large ul { width: 434px !important; }
/* line 121, ../scss/forms.scss */
form.custom div.custom.dropdown.open.expand ul { width: 100% !important; }

/* line 125, ../scss/forms.scss */
form.custom div.custom.dropdown:hover a.selector, form.custom div.custom.dropdown.open a.selector { background-position: -14px -25px; }

/* line 127, ../scss/forms.scss */
form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: #fff; background: rgba(255, 255, 255, 0.95); border: solid 1px #ddd; }
/* line 129, ../scss/forms.scss */
form.custom div.custom.dropdown ul li { cursor: pointer; padding: 3px 38px 3px 6px; min-height: 18px; line-height: 18px; margin: 0; white-space: nowrap; list-style: none; }
/* line 130, ../scss/forms.scss */
form.custom div.custom.dropdown ul li.selected { background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat; }
/* line 131, ../scss/forms.scss */
form.custom div.custom.dropdown ul li:hover { background-color: #00a6fc; color: #fff; }
/* line 132, ../scss/forms.scss */
form.custom div.custom.dropdown ul li.selected:hover { background: url(../images/misc/custom-form-sprites.png) #00a6fc right -78px no-repeat; }
/* line 133, ../scss/forms.scss */
form.custom div.custom.dropdown ul.show { display: block; }

/* Custom input, disabled */
/* line 137, ../scss/forms.scss */
form.custom .custom.disabled { background-color: #ddd; }

/* ----------------------------------------- Nicer Custom Forms
----------------------------------------- */
/* line 144, ../scss/forms.scss */
form.custom.nice span.custom.checkbox { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
/* line 145, ../scss/forms.scss */
form.custom.nice div.custom.dropdown a.current { border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; background-image: url(../images/misc/input-bg-outset.png); background-position: bottom right; }
/* line 146, ../scss/forms.scss */
form.custom.nice div.custom.dropdown a.selector { height: 27px; border-width: 0 0 0 1px; }
/* line 147, ../scss/forms.scss */
form.custom.nice div.custom.dropdown ul { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }
