/* Artfully Masterminded by ZURB */
/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Base
:: Standards
:: Links
:: Lists
:: Tables
:: Misc
*/
/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
/* line 18, ../scss/globals.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/foundation/boxsizing.htc);
}

/* line 20, ../scss/globals.scss */
html {
  font-size: 62.5%;
}

/* line 22, ../scss/globals.scss */
body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.3rem;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
/* line 29, ../scss/globals.scss */
a {
  color: #2a85e8;
  text-decoration: none;
  line-height: inherit;
}

/* line 30, ../scss/globals.scss */
a:hover {
  color: #11639d;
}

/* line 31, ../scss/globals.scss */
a:focus {
  color: #cc4714;
  outline: none;
}

/* line 32, ../scss/globals.scss */
p a, p a:visited {
  line-height: inherit;
}

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
/* line 38, ../scss/globals.scss */
ul, ol {
  margin-bottom: 18px;
}

/* line 39, ../scss/globals.scss */
ul.square {
  list-style: square outside;
}

/* line 40, ../scss/globals.scss */
ul.circle {
  list-style: circle outside;
}

/* line 41, ../scss/globals.scss */
ul.disc {
  list-style: disc outside;
}

/* line 42, ../scss/globals.scss */
li {
  margin-bottom: 12px;
}

/* line 43, ../scss/globals.scss */
ul.large li {
  line-height: 21px;
}

/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
/* line 49, ../scss/globals.scss */
table {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 18px;
  border: 1px solid #ddd;
}

/* line 51, ../scss/globals.scss */
table thead, table tfoot {
  background: #f5f5f5;
}

/* line 56, ../scss/globals.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

/* line 58, ../scss/globals.scss */
table thead tr th,
table tfoot tr td {
  padding: 8px 10px 9px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

/* line 59, ../scss/globals.scss */
table thead tr th:first-child, table tfoot tr td:first-child {
  border-left: none;
}

/* line 60, ../scss/globals.scss */
table thead tr th:last-child, table tfoot tr td:last-child {
  border-right: none;
}

/* line 63, ../scss/globals.scss */
table tbody tr.even,
table tbody tr.alt {
  background: #f9f9f9;
}

/* line 64, ../scss/globals.scss */
table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

/* line 65, ../scss/globals.scss */
table tbody tr td {
  color: #333;
  padding: 9px 10px;
  vertical-align: top;
  border: none;
}

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
/* line 70, ../scss/globals.scss */
.left {
  float: left;
}

/* line 71, ../scss/globals.scss */
.right {
  float: right;
}

/* line 72, ../scss/globals.scss */
.text-left {
  text-align: left;
}

/* line 73, ../scss/globals.scss */
.text-right {
  text-align: right;
}

/* line 74, ../scss/globals.scss */
.text-center {
  text-align: center;
}

/* line 75, ../scss/globals.scss */
.hide {
  display: none;
}

/* line 76, ../scss/globals.scss */
.highlight {
  background: #ff0;
}

/* line 78, ../scss/globals.scss */
#googlemap img, object, embed {
  max-width: none;
}

/* line 80, ../scss/globals.scss */
#map_canvas embed {
  max-width: none;
}

/* line 81, ../scss/globals.scss */
#map_canvas img {
  max-width: none;
}

/* line 82, ../scss/globals.scss */
#map_canvas object {
  max-width: none;
}
