/* --------------------------------------------------
	:: Typography
	-------------------------------------------------- */
@media handheld, only screen and (max-width: 767px) {
  /* line 6, ../scss/mobile.scss */
  h1 {
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.3;
  }

  /* line 7, ../scss/mobile.scss */
  h2 {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.3;
  }

  /* line 8, ../scss/mobile.scss */
  h3 {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 1.3;
  }

  /* line 9, ../scss/mobile.scss */
  h4 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.2;
  }

  /* line 10, ../scss/mobile.scss */
  h5 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  /* line 11, ../scss/mobile.scss */
  h6 {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  /* line 12, ../scss/mobile.scss */
  body, p {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
/* line 21, ../scss/mobile.scss */
.show-on-phones {
  display: none !important;
}

/* line 22, ../scss/mobile.scss */
.show-on-tablets {
  display: none !important;
}

/* line 23, ../scss/mobile.scss */
.show-on-desktops {
  display: block !important;
}

/* line 25, ../scss/mobile.scss */
.hide-on-phones {
  display: block !important;
}

/* line 26, ../scss/mobile.scss */
.hide-on-tablets {
  display: block !important;
}

/* line 27, ../scss/mobile.scss */
.hide-on-desktops {
  display: none !important;
}

/* Modernizr-enabled tablet targeting */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  /* line 32, ../scss/mobile.scss */
  .touch .hide-on-phones {
    display: block !important;
  }

  /* line 33, ../scss/mobile.scss */
  .touch .hide-on-tablets {
    display: none !important;
  }

  /* line 34, ../scss/mobile.scss */
  .touch .hide-on-desktops {
    display: block !important;
  }

  /* line 36, ../scss/mobile.scss */
  .touch .show-on-phones {
    display: none !important;
  }

  /* line 37, ../scss/mobile.scss */
  .touch .show-on-tablets {
    display: block !important;
  }

  /* line 38, ../scss/mobile.scss */
  .touch .show-on-desktops {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 43, ../scss/mobile.scss */
  .hide-on-phones {
    display: none !important;
  }

  /* line 44, ../scss/mobile.scss */
  .hide-on-tablets {
    display: block !important;
  }

  /* line 45, ../scss/mobile.scss */
  .hide-on-desktops {
    display: block !important;
  }

  /* line 47, ../scss/mobile.scss */
  .show-on-phones {
    display: block !important;
  }

  /* line 48, ../scss/mobile.scss */
  .show-on-tablets {
    display: none !important;
  }

  /* line 49, ../scss/mobile.scss */
  .show-on-desktops {
    display: none !important;
  }
}
/* Specific overrides for elements that require something other than display: block */
/* line 55, ../scss/mobile.scss */
table.show-on-desktops {
  display: table !important;
}

/* line 56, ../scss/mobile.scss */
table.hide-on-phones {
  display: table !important;
}

/* line 57, ../scss/mobile.scss */
table.hide-on-tablets {
  display: table !important;
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  /* line 60, ../scss/mobile.scss */
  .touch table.hide-on-phones {
    display: table !important;
  }

  /* line 61, ../scss/mobile.scss */
  .touch table.hide-on-desktops {
    display: table !important;
  }

  /* line 62, ../scss/mobile.scss */
  .touch table.show-on-tablets {
    display: table !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 66, ../scss/mobile.scss */
  table.hide-on-tablets {
    display: table !important;
  }

  /* line 67, ../scss/mobile.scss */
  table.hide-on-desktops {
    display: table !important;
  }

  /* line 68, ../scss/mobile.scss */
  table.show-on-phones {
    display: table !important;
  }
}
/* -------------------------------------------------- 
	:: Forms
---------------------------------------------------*/
@media only screen and (max-width: 767px) {
  /* line 79, ../scss/mobile.scss */
  div.form-field input, div.form-field input.small, div.form-field input.medium, div.form-field input.large, div.form-field input.oversize, input.input-text, input.input-text.oversize, textarea,
  form.nice div.form-field input, form.nice div.form-field input.oversize, form.nice input.input-text, form.nice input.input-text.oversize, form.nice textarea {
    display: block;
    width: 100%;
    padding: 6px 2% 4px;
    font-size: 18px;
  }

  /* line 80, ../scss/mobile.scss */
  form.nice div.form-field input, form.nice div.form-field input.oversize, form.nice input.input-text, form.nice input.input-text.oversize, form.nice textarea {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  /* line 81, ../scss/mobile.scss */
  form.nice div.form-field.error small, form.nice small.error {
    padding: 6px 2%;
    display: block;
  }

  /* line 82, ../scss/mobile.scss */
  form.nice div.form-field.error .small + small, form.nice .small + .error {
    width: auto;
  }

  /* line 83, ../scss/mobile.scss */
  form.nice div.form-field.error .medium + small, form.nice .medium + .error {
    width: auto;
  }

  /* line 84, ../scss/mobile.scss */
  form.nice div.form-field.error .large + small, form.nice .large + .error {
    width: auto;
  }

  /* line 85, ../scss/mobile.scss */
  form.nice div.form-field.error .expand + small, form.nice .expand + .error {
    width: auto;
  }
}
/* -------------------------------------------------- 
	:: UI
---------------------------------------------------*/
/* Buttons */
@media only screen and (max-width: 767px) {
  /* line 95, ../scss/mobile.scss */
  .button {
    display: block;
  }

  /* line 96, ../scss/mobile.scss */
  button.button, input[type="submit"].button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
  }
}
/* Tabs */
@media only screen and (max-width: 767px) {
  /* line 102, ../scss/mobile.scss */
  dl.tabs.mobile, dl.nice.tabs.mobile {
    width: auto;
    margin: 20px -20px 40px;
    height: auto;
  }

  /* line 103, ../scss/mobile.scss */
  dl.tabs.mobile dt, dl.tabs.mobile dd, dl.nice.tabs.mobile dt, dl.nice.tabs.mobile dd {
    float: none;
    height: auto;
  }

  /* line 105, ../scss/mobile.scss */
  dl.tabs.mobile dd a {
    display: block;
    width: auto;
    height: auto;
    padding: 18px 20px;
    line-height: 1;
    border: solid 0 #ccc;
    border-width: 1px 0 0;
    margin: 0;
    color: #555;
    background: #eee;
    font-size: 15px;
    font-size: 1.5rem;
  }

  /* line 106, ../scss/mobile.scss */
  dl.tabs.mobile dd a.active {
    height: auto;
    margin: 0;
    border-width: 1px 0 0;
  }

  /* line 108, ../scss/mobile.scss */
  .nice.tabs.mobile {
    border-bottom: solid 1px #ccc;
    height: auto;
  }

  /* line 109, ../scss/mobile.scss */
  .nice.tabs.mobile dd a {
    padding: 18px 20px;
    border: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    background: #fff;
  }

  /* line 110, ../scss/mobile.scss */
  .nice.tabs.mobile dd a.active {
    border: none;
    background: #00a6fc;
    color: #fff;
    margin: 0;
    position: static;
    top: 0;
    height: auto;
  }

  /* line 111, ../scss/mobile.scss */
  .nice.tabs.mobile dd:first-child a.active {
    margin: 0;
  }

  /* line 113, ../scss/mobile.scss */
  dl.contained.mobile, dl.nice.contained.mobile {
    margin-bottom: 0;
  }

  /* line 114, ../scss/mobile.scss */
  dl.contained.tabs.mobile dd a {
    padding: 18px 20px;
  }

  /* line 115, ../scss/mobile.scss */
  dl.nice.contained.tabs.mobile dd a {
    padding: 18px 20px;
  }

  /* line 117, ../scss/mobile.scss */
  dl.tabs.mobile + ul.contained {
    margin-left: -20px;
    margin-right: -20px;
    border-width: 0 0 1px 0;
  }
}
/* Nav Bar */
/* Modernizr-enabled tablet targeting */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  /* line 124, ../scss/mobile.scss */
  .touch .nav-bar li a {
    font-size: 13px;
    font-size: 1.3rem;
  }

  /* line 125, ../scss/mobile.scss */
  .touch .nav-bar li.has-flyout > a.flyout-toggle {
    padding: 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 129, ../scss/mobile.scss */
  .nav-bar {
    height: auto;
  }

  /* line 130, ../scss/mobile.scss */
  .nav-bar > li {
    float: none;
    display: block;
    border-right: none;
  }

  /* line 131, ../scss/mobile.scss */
  .nav-bar > li > a.main {
    text-align: left;
    border-top: 1px solid #ddd;
    border-right: none;
  }

  /* line 132, ../scss/mobile.scss */
  .nav-bar > li:first-child > a.main {
    border-top: none;
  }

  /* line 133, ../scss/mobile.scss */
  .nav-bar > li.has-flyout > a.flyout-toggle {
    position: absolute;
    right: 0;
    top: 0;
    padding: 22px;
    z-index: 2;
    border-left: 1px dashed #eee;
    display: block;
  }

  /* line 134, ../scss/mobile.scss */
  .nav-bar > li.has-flyout > a.flyout-toggle span {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #2a85e8;
    display: block;
  }

  /* line 135, ../scss/mobile.scss */
  .nav-bar > li.has-flyout > a.flyout-toggle:hover span {
    border-top-color: #141414;
  }

  /* line 137, ../scss/mobile.scss */
  .flyout {
    position: relative;
    width: auto;
    top: auto;
    margin-right: -2px;
    border-width: 1px 1px 0 1px;
  }

  /* line 138, ../scss/mobile.scss */
  .flyout.right {
    float: none;
    right: auto;
    left: -1px;
  }

  /* line 139, ../scss/mobile.scss */
  .flyout.small, .flyout.large {
    width: auto;
  }

  /* line 140, ../scss/mobile.scss */
  .flyout p:last-child {
    margin-bottom: 18px;
  }
}
/* Tooltips */
@media only screen and (max-width: 767px) {
  /* line 146, ../scss/mobile.scss */
  .tooltip {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 7px 10px 9px 10px;
  }

  /* line 152, ../scss/mobile.scss */
  .tooltip > .nub, .tooltip.top > .nub, .tooltip.left > .nub, .tooltip.right > .nub {
    border-color: transparent transparent black transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
    top: -12px;
    left: 10px;
  }
}
/* Video */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  /* line 164, ../scss/mobile.scss */
  .flex-video {
    padding-top: 0;
  }
}
