@charset "UTF-8";
/*
  Foundation 3, artfully masterminded by ZURB
  Core
  tabs.css - Tab styles with preconfigured JS

  Requires:
    globals.css
    app.js
*/
/* Colors */
/* Media Query Breaks */
/*--------------------------------------------------
  Tabs
  -------------------------------------------------- */
dl.tabs {
  border-bottom: solid 1px #eee;
  display: block;
  height: 43px;
  margin: 0 0 43px 0;
  padding: 0;
}
dl.tabs dt {
  color: #999;
  cursor: default;
  display: block;
  float: left;
  font-size: 11px;
  font-size: 1.1rem;
  height: 43px;
  line-height: 43px;
  padding: 0 9px 0 20px;
  width: auto;
  text-transform: uppercase;
}
dl.tabs dt:first-child {
  padding: 0 9px 0 0;
}
dl.tabs dd {
  display: block;
  float: left;
  height: 43px;
  padding: 0;
  margin-left: 0;
  width: auto;
}
dl.tabs dd a {
  background: none;
  border: none;
  color: #555;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  height: 42px;
  line-height: 43px;
  margin: 0 10px;
  padding: 7px 18px 9px;
  position: relative;
  top: -5px;
  width: auto;
}
dl.tabs dd a.active {
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 3px solid #00a6fc;
  color: #333;
  font-weight: bold;
  height: 43px;
}
dl.tabs dd:first-child a.active {
  margin-left: 0;
}
dl.tabs.vertical {
  height: auto;
  border-bottom: solid 1px #eee;
}
dl.tabs.vertical dt, dl.tabs.vertical dd {
  float: none;
  height: auto;
}
dl.tabs.vertical dd a {
  background: #fff;
  border: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  color: #555;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 15px 20px;
  width: auto;
}
dl.tabs.vertical dd a.active {
  background: #00a6fc;
  border: none;
  color: #fff;
  height: auto;
  margin: 0;
  position: static;
  top: 0;
}
dl.tabs.vertical dd:first-child a.active {
  margin: 0;
}
dl.tabs.contained {
  margin-bottom: 0;
}
dl.tabs.contained dd a {
  padding: 7px 18px 9px;
}

ul.tabs-content {
  display: block;
  margin: 0;
  padding: 0;
}
ul.tabs-content > li {
  display: none;
}
ul.tabs-content > li.active {
  display: block;
}
ul.tabs-content.contained {
  padding: 0;
}
ul.tabs-content.contained > li {
  border: solid 0 #eee;
  border-width: 0 1px 1px 1px;
  padding: 20px;
}
ul.tabs-content.contained.vertical > li {
  border-width: 1px 1px 1px 1px;
}

.no-js ul.tabs-content > li {
  display: block;
}
