/*                                              */
/* Requires:                                    */
/*  -globals.css                                */
/*  -app.js                                     */
/*                                              */
  @import "base";

/* Tabs ---------------------- */

  // Tab Variables
  $tabHeight: 40px;

  dl.tabs { border-bottom: solid 1px darken($white, 10%); display: block; height: $tabHeight; padding: 0; margin-bottom: 20px;
    &.contained { margin-bottom: 0; }

    dt { color: darken($white, 30%); cursor: default; display: block; float: left; font-size: ms(0) - 2px; height: $tabHeight; line-height: $tabHeight; padding: 0 9px 0 20px; width: auto; text-transform: uppercase;
      &:first-child { padding: 0 9px 0 0; }
    }

    dd { display: block; float: left; padding: 0; margin: 0;
      a { color: lighten($txtColor, 30%); display: block; font-size: ms(0); height: $tabHeight; line-height: $tabHeight; padding: 0px ms(1) * 1.4;
        &.active { color: lighten($txtColor, 10%); background: #fff; border-left: 1px solid darken($white, 10%); border-right: 1px solid darken($white, 10%); font-weight: bold; }
      }
      &.active { border-top: 3px solid $mainColor; margin-top: -3px; }
      &:first-child { margin-left: 0; }
    }

    &.vertical { height: auto; border-bottom: 1px solid darken($white, 10%);
      dt, dd { float: none; height: auto; }

      dd { border-left: 3px solid darken($white, 20%);
        a { background: darken($white, 5%); border: none; border: 1px solid darken($white, 10%); border-width: 1px 1px 0 0; color: #555; display: block; font-size: ms(0); height: auto; line-height: 1; padding: 15px 20px; @include box-shadow(0 1px 0 $shinyEdge inset);
          &.active { background: lighten($black, 30%); border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; @include box-shadow(0 0 0); }
        }
        &.active { border-top: none; border-left: 4px solid lighten($black, 10%); }
        &:first-child a.active { margin: 0; }
      }
    }
  }

  ul.tabs-content { display: block; margin: 0 0 20px; padding: 0;
    &>li { display: none;
      &.active { display: block; }
    }
    &.contained { padding: 0;
      &>li { border: solid 0 darken($white, 10%); border-width: 0 1px 1px 1px; padding: 20px; }
      &.vertical>li { border-width: 1px 1px 1px 1px; }
    }
  }

  .no-js ul.tabs-content>li { display: block; }
