/*
  Foundation 3, artfully masterminded by ZURB
  Core
  ui.css

  Requires:
    globals.css
*/


/* Table of Contents

:: Alerts
:: Labels
:: Tabs
:: Pagination
:: Breadcrumbs
:: Lists
:: Panels
:: Nav
:: Video
:: Microformats

*/

  @import "base";


  /* Alerts */

  div.alert-box { display: block; padding: 6px 7px; font-weight: bold; @include font-size(13); background: #eee; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative;

    &.success { background-color: $successColor; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
    &.alert { background-color: $alertColor; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
    &.secondary { background-color: $secondaryColor; color: darken(($secondaryColor), 80%); text-shadow: 0 -1px rgba(0,0,0,0.3); }

    a.close { color: #000; position: absolute; right: 4px; top: 0; @include font-size(18); opacity: 0.2; padding: 4px; }
    a.close:hover, a.close:focus { opacity: 0.4; }

  }


  /* Labels */

  .label { padding: 0 4px 2px; @include font-size(11); font-weight: bold; text-align: center; text-decoration: none; line-height: 1;  white-space: nowrap; display: inline; position: relative; bottom: 1px; color: #fff; background: $mainColor;

    &.radius { @include border-radius(2px); }
    &.round { padding: 1px 7px 2px; @include border-radius(8px); }

    &.primary   { background-color: $mainColor; }
    &.alert     { background-color: $alertColor; }
    &.success   { background-color: $successColor; }
    &.secondary   { background-color: $secondaryColor; color: #333; }

  }


  /* Pagination */

  ul.pagination { display: block; height: 24px; margin-left: -5px;

    li { float: left; display: block; height: 24px; color: #999; @include font-size(15); margin-left: 5px;
      a { display: block; padding: 6px 7px 4px; color: #555; }
      &.current a, &:hover a, a:focus { border-bottom: solid 2px $mainColor; color: #141414; }
      &.unavailable a { cursor: default; color: #999; }
      &.unavailable:hover a, &.unavailable a:focus { border-bottom: none; }
    }

  }


  /* Breadcrumbs */

  ul.breadcrumbs { display: block; background: lighten(($secondaryColor), 5%); padding: 7px 10px; border: 1px solid $secondaryColor; border-radius: 2px; overflow: hidden;

    li { margin: 0; padding: 0 12px 0 0; float: left; list-style: none;
      a, span { text-transform: uppercase; @include font-size(11); padding-left: 12px; }
      &:first-child a, &:first-child span { padding-left: 0; }
    }
    li:before { content: "/"; color: #aaa; }
    li:first-child:before { content: " "; }
    li.current a { cursor: default; color: #333; }
    li:hover a, li a:focus { text-decoration: underline; }
    li.current:hover a, li.current a:focus { text-decoration: none; }
    li.unavailable {
      a { color: #999; }
      &:hover a, a:focus { text-decoration: none; color: #999; cursor: default; }
    }

  }


  /* Lists */

  ul.nice, ol.nice { list-style: none; margin: 0;
    li { padding-left: 13px; position: relative;
      span.bullet, span.number { position: absolute; left: 0; top: 0; color: #ccc; }
    }
  }


  /* Panels */

  div.panel {
    padding: 20px 20px 2px 20px;
    background: #efefef;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    margin: 0 0 20px 0;
  }


  /* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na */

  dl.sub-nav { display: block; width: auto; overflow: hidden; margin: -4px 0 18px -9px; padding-top: 4px;

    dt, dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }
    dt { color: #999; font-weight: normal; }
    dd a { text-decoration: none; border-radius: 12px; }
    dd.active a { background: $mainColor; color: #fff; padding: 3px 9px; }

  }


  /* Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ */

  .flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;

    &.widescreen { padding-bottom: 57.25%; }
    &.vimeo { padding-top: 0; }

    iframe, object, embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  }



  /* Microformats */

  ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px;

    li { margin: 0; display: block; }
    li.fn { font-weight: bold; @include font-size(15); }

  }

  p.vevent {
    span.summary { font-weight: bold; }
    abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }
  }



  /* Tooltips */

  .has-tip { border-bottom: dotted 1px #ccc; cursor: help; font-weight: bold; color: #333;

    &:hover { border-bottom: dotted 1px #0593dc; color: #0192dd; }
    &.tip-left, &.tip-right { float: none !important; }

  }

  .tooltip { display: none; background: rgb(0,0,0); background: rgba(0,0,0,0.8); position: absolute; color: #fff; font-weight: bold; @include font-size(12); padding: 5px; z-index: 999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; line-height: normal;

    &>.nub { display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent rgb(0,0,0) transparent; border-color: transparent transparent rgba(0,0,0,0.8) transparent; position: absolute; top: -10px; left: 10px; }
    &.tip-verride>.nub { border-color: transparent transparent rgb(0,0,0) transparent !important; border-color: transparent transparent rgba(0,0,0,0.8) transparent !important; top: -10px !important; }
    &.tip-top>.nub { border-color: rgb(0,0,0) transparent transparent transparent; border-color: rgba(0,0,0,0.8) transparent transparent transparent; top: auto; bottom: -10px; }

    &.tip-left, &.tip-right { float: none !important; }

    &.tip-left>.nub { border-color: transparent transparent transparent rgb(0,0,0); border-color: transparent transparent transparent rgba(0,0,0,0.8); right: -10px; left: auto; }
    &.tip-right>.nub { border-color: transparent rgb(0,0,0) transparent transparent; border-color: transparent rgba(0,0,0,0.8) transparent transparent; right: auto; left: -10px; }

    &.noradius { @include border-radius(0); }
    &.opened { color: #0192DD !important; border-bottom: dotted 1px #0593DC !important; }

  }

  .tap-to-close { display: block; @include font-size(10); color: #888; font-weight: normal; }
