/*
  Foundation 3, artfully masterminded by ZURB
  Core
  buttons.css - CSS3 buttons with configurable display and appearance options

  Requires:
    globals.css
*/

  @import "shared";

  $radius: 3px;


	.button {
		background: $mainColor; border: 1px solid darken(($mainColor), 15%); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5); box-shadow: inset 0 1px 0 rgba(255,255,255,.5); color: #fff; cursor: pointer; display: inline-block; font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; @include font-size(13); font-weight: bold; line-height: 1; margin: 0; outline: none; padding: 9px 21px 11px; position: relative; text-align: center; text-decoration: none; text-shadow: 0 -1px 1px rgba(0,0,0,0.28); -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out;

  	&.secondary		{ text-shadow: none !important; }

  	/* Hovers ---------- */
  	&:active 	{
  		-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
  		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
  		box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
  	}

		&:hover { color: #fff; background-color: darken(($mainColor), 10%); }

    /* Sizes ---------- */
  	&.tiny			{ @include font-size(10); padding: 6px 9px 8px; width: auto; }
  	&.small 		{ @include font-size(11); padding: 8px 14px 10px; width: auto; }
  	&.medium 		{ @include font-size(13); width: auto; }
  	&.large 		{ @include font-size(18); padding: 11px 28px 13px; width: auto; }

  	/* Colors ---------- */
    &.primary {
      background-color: $mainColor; border: 1px solid darken(($mainColor), 15%);
      &:hover { background-color: darken(($mainColor), 10%); }
  	}
    &.success {
      background-color: $successColor; border: 1px solid darken(($successColor), 15%);
      &:hover { background-color: darken(($successColor), 10%); }
    }
    &.alert {
      background-color: $alertColor; border: 1px solid darken(($alertColor), 15%);
      &:hover { background-color: darken(($alertColor), 10%); }
    }
    &.secondary {
      background-color: $secondaryColor; color: darken(($secondaryColor), 80%); border: 1px solid darken(($secondaryColor), 15%);
      &:hover { background-color: darken(($secondaryColor), 10%); }
    }

    &.radius { @include border-radius($radius); }
    &.round { @include border-radius(1000px); }

    &.full-width { width: 100%; text-align: center; padding-left: 0 !important; padding-right: !important; }
    &.left-align { text-align: left; text-indent: 12px; }

		/* Disabled ---------- */
		&.disabled, &[disabled] { opacity: 0.6; cursor: default; }

	}

  /* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }

  /* Correct FF button padding */
  @-moz-document url-prefix("http://") {
    button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0;  }
    input[type=submit].tiny.button		{ padding: 5px 14px 7px; }
    input[type=submit].small.button		{ padding: 7px 20px 8px; }
    input[type=submit].medium.button	{ padding: 8px 34px 9px; }
    input[type=submit].large.button		{ padding: 9px 48px 10px; }
  }


  /* Buttons with Dropdowns */

  .button.dropdown { position: relative;

    &>span { width: 12px; height: 12px; background: url(../images/misc/dropdown-button-nub.png) 0 0 no-repeat transparent; display: inline-block; margin-left: 6px; }

    &>ul { display: none; position: absolute; top: 34px; left: -1px; background: #fff; list-style: none; margin: 0; padding: 0; border: 1px solid #ddd; min-width: 100%;

      li { margin: 0; padding: 0; background: none; list-style: none; }
      li a { display: block; color: #777; @include font-size(13); font-weight: normal; padding: 6px 6px; text-align: left; text-shadow: none; }
      li.divider { border-top: 1px solid #ddd; margin: 0; }
    }

    &.small>ul { top: 32px; }
    &.large>ul { top: 43px; }

    &:hover>ul { display: block; }

    &.split { padding: 0;

      &:hover { background-color: $mainColor; }
      &.alert:hover { background-color: $alertColor; }
      &.success:hover { background-color: $successColor; }
      &.secondary:hover { background-color: $secondaryColor; }

      &>a { color: #fff; display: block; padding: 9px 54px 11px 21px; -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out;

        &:hover { background-color: darken(($mainColor), 10%); }
      }

      &>span { background-color: $mainColor; background-position: 10px 10px; display: block; position: absolute; right: 0; top: 0; width: 32px; height: 33px; border-left: 1px solid darken(($mainColor), 15%); box-shadow: inset 1px 1px 0px rgba(255,255,255,0.35); -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out;

        &:hover { background-color: darken(($mainColor), 10%); }
      }

      &.alert>span { background-color: $alertColor; border-left-color: darken(($alertColor), 15%); }
      &.success>span { background-color: $successColor; border-left-color: darken(($successColor), 15%); }
      &.secondary>span { background-color: $secondaryColor; border-left-color: darken(($secondaryColor), 15%); }

      &.alert>a:hover, &.alert>span:hover { background-color: darken(($alertColor), 10%); }
      &.success>a:hover, &.success>span:hover { background-color: darken(($successColor), 10%); }
      &.secondary>a:hover, &.secondary>span:hover { background-color: darken(($secondaryColor), 10%); }

      &.small>span { height: 32px; }

      &.large>a { padding: 11px 54px 13px 21px; }
      &.large>span { height: 42px; width: 36px; background-position: 12px 15px; }
    }
  }


  /* Button Groups */

  ul.button-group { list-style: none; padding: 0; margin: 0 0 12px; overflow: hidden;

    li { padding: 0; margin: 0 0 0 -1px; float: left;

      &:first-child { margin-left: 0; }
      a.button {  }
    }

    &.radius {

      li:first-child a.button, li:first-child a.button.radius, li:first-child a.button.rounded { @include border-radius(0px); border-top-left-radius: $radius; border-bottom-left-radius: $radius; }
      li + li a.button, li + li a.button.radius, li + li a.button.rounded { border-radius: 0; }
      li:last-child a.button, li:last-child a.button.radius, li:last-child a.button.rounded { @include border-radius(0px); border-top-right-radius: $radius; border-bottom-right-radius: $radius; }
    }

    &.rounded {

      li:first-child a.button, li:first-child a.button.radius, li:first-child a.button.rounded { @include border-radius(0px); border-top-left-radius: 1000px; border-bottom-left-radius: 1000px; }
      li + li a.button, li + li a.button.radius, li + li a.button.rounded { border-radius: 0; }
      li:last-child a.button, li:last-child a.button.radius, li:last-child a.button.rounded { @include border-radius(0px); border-top-right-radius: 1000px; border-bottom-right-radius: 1000px; }
    }

    &.even {

      a.button { width: 100%; }
      &.two-up li { width: 50%; }
      &.three-up li { width: 33.3%; }
      &.three-up li:first-child { width: 33.4%; }
      &.four-up li { width: 25%; }
      &.five-up li { width: 20%; }
    }
  }

  div.button-bar { overflow: hidden;

    ul.button-group { float: left; margin-right: 8px; }
    ul.button-group:last-child { margin-left: 0; }
  }

